<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
        <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
        <button class="button">Right Button</button>
    </div>
</ion-header-bar>
<ion-content>

    <input type="text" ng-model="txtAdd" />
    <button ng-click="setCookie()">Set</button>

    <div>
        {{txtAdd}}
    </div>


</ion-content>

